body{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    background-color: lightgray;
    font-size: x-large;
    font-family: sans-serif;
}
input{
    font-size: x-large;
}
#result{
    padding: 3px;
    font-size: xx-large;
}
.tooBig{
    background: pink;
    color: blue;
}
.tooSmall{
    background: lightblue;
    color: blue;
}
.tooMany{
    background: red;
    color: black;
}
.justRight{
    background: lightgreen;
    color: green;
}
.resetButton{
    font-size: x-large;
}