body{
    width: 60%;
    margin: auto;
    margin-top: 10px;
    background-color: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
input{
    font-size: large;
}
.item{
    margin: 0px;
}